#todoList-form {
    padding-top: 20px;
    width: 50%;
    margin: 30px auto;
}

#todoList-form input {
    height: 40px;
    width: 80%;;
    padding-left: 10px;
    background-color: #F2F3F8;
    border: none;
    position: fixed left;
    left: 15px;
    float: left;
}

#todoList-form button {
    padding: 5px 40px;
    left: 320px;
    border: none;
    background-color: rgb(137, 139, 141);
    color: #fefefe;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    margin: 25px;
    position: relative;
    bottom: 65px;
    height: 40px;
}

.done input[type=text] {
    color: #000000;
    text-decoration: line-through;
}


.del-btn {
    border: none;
    background: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 100;
    text-decoration: none;
}


li {
    width: 80%;
    background-color: rgb(149, 149, 150);
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

li input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background: none;
}

li input[type="text"] {
    background: transparent;
    border: none;
    outline: none;
    padding: 0 5px;;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    flex-grow: 2;
}

li input[type="text"]:focus {
    
    background-color: rgba(226, 227, 229, 0.774);
    color: rgb(29, 29, 29);
}

li button {
    justify-content: flex-end;
}
